.Dashboard {
    justify-content: center;
    height: 92vh;
    overflow-y: scroll;
    
}

.Dashboard>h3 {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 700;
    margin-top: 10px;
    color: #5e2650;
}
.dashboard-widgets{
    display: flex;
    flex-wrap: wrap;

    row-gap: 1.5rem;
    column-gap: 1.5rem;
    padding: 1rem;
}

/* .top-row {
    margin-top: 1rem;
    display: flex;
    height: 15.5rem;
}

.second-row {
    width: 100%;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    display: flex;

    flex: auto auto;
} */
.burgerBackground{
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-size: cover;
    background-position: center;
    height: 150px;
    width: 150px;
}