.widget-posters{
    margin-left: 1rem;
    background-color: white;
    /* width: 10rem; */
    width: calc(100% - 59rem);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgb(202, 202, 202), -3px -3px 10px rgb(204, 204, 204);
    display: flex;
}
.top-poster, .bottom-poster{
    width: 100%;
    height: 100%;
}
.top-poster img, .bottom-poster img{
    width: 100%;
    height: 100%;
}