.widget-visit-view{

    background-color: white;
    width: 18rem;
    height: fit-content;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgb(202, 202, 202), -3px -3px 10px rgb(204, 204, 204);
}
.wvv-top{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px dashed gold;
    padding-bottom: 5px;
}
.wvv-icon{
    font-size: 2rem;
    background-color: #fbbd08;
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 5px;
}
.wvv-title{
    font-size: 1.5rem;
    margin-left: 0.5rem;
}
.wvv-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.line-chart{
    margin-top: 10px;
    width: 98%;
}
